.u-photo {
    height: 80px;
    width: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    object-position: top right;
    border-radius: 100%;
}

.feed__li, nav ul li {
    list-style: none;
}

#open {
    text-align: center;
    margin-top: 25px;
}

body > header {
    display: flex;
    justify-content: center;
}

body > header > div {
    max-width: 960px;
    flex-grow: 1;
}

.feed__ul {
    padding: 0;
}

.properties a, .properties a:hover, .p-name a, .p-name a:hover {
    color: inherit !important;
    background-color: inherit !important;
    text-decoration: none !important;
}

.post img {
    max-width: 100%;
}

.webmention__author__img {
    object-fit: cover;
    border-radius: 50%;
}

/* Tailwind patches */
.mt-2 {
    margin-top: 8px;
}
.justify-between {
    justify-content: space-between;
}
.font-bold {
    font-weight: bolder;
}
.list-style-none {
    list-style: none;
}
.w-14 {
    width: 56px;
}
.aspect-square {
    aspect-ratio: 1 / 1;
}
.mt-5 {
    margin-top: 1rem;
}
.p-6 {
    padding: 1.5rem;
}
.ml-2 {
    margin-left: 0.5rem;
}
.gap-5 {
    gap: 1.25rem;
}
.pt-3 {
    padding-top: 0.75rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.gap-1 {
    gap: 5px;
}
.p-0 {
    padding: 0;
}
.flex-grow {
    flex-grow: 10;
}
.max-w-\[52rem\] {
    max-width: 53rem;
}
.text-black {
    color: rgb(13 43 69);
}
@media (prefers-color-scheme: dark){
    .dark\:text-white {
        color: rgb(255 236 214);
    }
}
@media print {
    .print\:hidden {
        display: none;
    }
}
