dist/**/*.css
dist/**/*.js

content/**/*.md

src/themes/picardo/layouts/_default/index.json
src/themes/picardo/layouts/_default/index.xml
src/themes/picardo/layouts/_default/index.html
src/themes/picardo/layouts/_default/list.json
src/themes/picardo/layouts/_default/list.html
src/themes/picardo/layouts/_default/taxonomy.html
src/themes/picardo/layouts/_default/single.html

src/themes/picardo/layouts/partials/author.html
src/themes/picardo/layouts/partials/header.html
src/themes/picardo/layouts/partials/footer.html
src/themes/picardo/layouts/partials/head.html
src/themes/picardo/layouts/partials/preview.html
src/themes/picardo/layouts/partials/preview-small.html
src/themes/picardo/layouts/partials/webmentions.html
src/themes/picardo/layouts/partials/reply-button.html
src/themes/picardo/layouts/partials/latest_commit.html
src/themes/picardo/layouts/shortcodes/info.html
