@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @media (max-width: 600px) {
        header .pagetitle {
            font-size: 1.2em;
        }
    }

    nav ul.menu {
        @apply flex flex-row gap-4 m-0 p-0;
    }
    nav ul.menu li {
        @apply list-none;
    }
    nav ul.menu li a {
        @apply no-underline;
    }

    .post-title {
        margin-bottom: 0;
    }

    .post-date, .page-footer, hr {
        margin-top: .5em;
        opacity: .7;
    }

    .skip-nav {
        @apply lowercase absolute top-0 transition-transform translate-y-[-120%] focus:translate-y-0 left-[7px] p-4;
    }
}

@layer base {
    html {
        background: rgb(30, 30, 30);
        color: rgb(212, 212, 212);
    }
    
    body {
        font-size: 1.1rem;
        line-height: 1.5;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }

    a {
        color: rgb(212, 212, 212);
    }

    h1 a, h2 a, h3 a {
        text-decoration: none !important;
    }

    img {
      max-width: 100%;
      user-select: none;
    }

    pre {
      max-width: 100%;
      width: 100%;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    pre::-webkit-scrollbar {
      display: none;
    }

    body > header {
        display: flex;
        justify-content: center;
    }
    body > header > div {
        max-width: 750px;
        flex-grow: 1;
    }

    .h-entry h1 {
        font-size: 2em;
    }

    main {
        max-width: 750px;
        margin: 0 auto;
    }

    .h-feed,
    nav ul li {
        list-style: none;
    }
    .h-feed {
        padding: 0;
    }
}
