@import url("https://roblog.nl/base.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    @media (max-width: 600px) {
        header .pagetitle {
            font-size: 1.2em;
        }
    }

    nav ul.menu {
        @apply flex flex-row gap-4 m-0 p-0;
    }
    nav ul.menu li {
        @apply list-none;
    }
    nav ul.menu li a {
        @apply no-underline;
    }

    .post-title {
        margin-bottom: 0;
    }

    .post-date,
    .page-footer,
    hr {
        margin-top: 0.5em;
        opacity: 0.7;
    }

    .skip-nav {
        @apply lowercase absolute top-0 transition-transform translate-y-[-120%] focus:translate-y-0 left-[7px] p-4;
    }
}

@layer base {
    body > header {
        display: flex;
        justify-content: center;
    }
    body > header > div {
        max-width: 750px;
        flex-grow: 1;
    }

    main {
        max-width: 750px;
        margin: 0 auto;
    }

    .h-feed,
    nav ul li {
        list-style: none;
    }
    .h-feed {
        padding: 0;
    }
}
