{{ define "main" }}
<article class="feed__li feed__content h-entry post mt-10">
    {{ if in .Params.Categories "note" }}
    <div class="rounded-md p-6 bg-vibrant/20 dark:bg-slate/70 shadow-md my-5 max-w-[52rem] mx-auto">
        {{ partial "author" . }}
        {{ with .Title }}
        <p class="font-bold">{{ . }}</p>{{ end }}
        <div class="post mt-2">
            {{ .Content }}
        </div>
        {{ partial "properties" . }}
        {{ else if in .Params.Categories "reply" }}
        <div class="rounded-md p-6 bg-vibrant/20 dark:bg-slate/70 shadow-md my-5 max-w-[52rem] mx-auto">
            {{ partial "author" . }}
            <h2 class="p-name reply-context">
            {{ with .Params.Reply }}
            <a class="u-in-reply-to h-cite" href="{{ . }}">{{ $.Title }}</a>
            {{ else }}
            {{ .Title }}
            {{ end }}
            </h2>
            <div class="post mt-2">
                {{ .Content }}
            </div>
            {{ else }}
                <div class="text-center my-7 max-w-xl mx-auto">
                    <time class="hidden dt-published">{{ .Date }}</time>
                
                    {{ with .Title }}
                    <h1 class="p-name mb-0 text-4xl">{{ . }}</h1>{{ end }}

                    <p class="my-5 bold text-black dark:text-white">
                        {{ if isset .Params "date" }}
                        {{ .Date.Format (.Site.Params.dateFormat | default "02 January 2006") }}{{ end }}
                    </p>
                </div>
                <section class="p-summary e-content mt-2">
                    {{.Content }}
                </section>
                {{ end }}
                <!-- Bridgy -->
                <a class="hidden" href="https://brid.gy/publish/mastodon"></a>
                <a class="hidden" href="https://brid.gy/publish/twitter"></a>
                <a class="hidden" href="https://fed.brid.gy/"></a>
                <data class="p-bridgy-omit-link" value="false"></data>                
            <!-- <div class="my-7 max-w-xl mx-auto" style="min-width: 960px;">
                {{ partial "author" . }}
            </div> -->
    </div>
    <section>
        <div id="webmentions"></div>
        <p class="m-0">{{ partial "webmentions" . }}</p>
    </section>
</article>
<hr class="my-7 border-none">
{{ end }}
