<div rel="author" class="author p-author h-card">
    <img 
        class="u-photo"
        src="{{ with $.Site.Author.image }}
                {{ . | absURL }}
            {{ else }}
                {{ with $.Site.Author.name }}https://avatars.dicebear.com/api/initials/{{ . }}.svg{{ end }}
            {{ end }}"
        alt="{{.Site.Author.name}}" />
    <p>
        <span rel="me" class="p-name">
            {{ with .Params.author }}
                {{ . }}
            {{ else }}
                {{ $.Site.Author.name }}
            {{ end }}
        </span>
        <span>
            {{ if isset .Params "date" }}
                {{ dateFormat "2 January 2006" .Date }}
            {{ end }}
        </span>
    </p>
</div>