<header>
    <div class="flex flex-col lg:flex-row justify-between items-center">
        <div class="flex flex-row flex-grow">
            <p class="pagetitle title font-bold">
                <a href='{{ relLangURL "" }}'>
                    {{ .Site.Title }}
                </a>
            </p>
        </div>
        <nav class="print:hidden">
            <ul class="menu">
                <li><a href='{{ .Site.Params.main_site_url }}'>🏠 Home</a></li>
                <li><a href="/">🇳🇱 Dutch</a></li>
                <li><a href="/en">🇬🇧 English</a></li>
                <!--{{ range .AlternativeOutputFormats -}}
                    <li>
                        <a href="{{ .Permalink }}">
                            /{{.Name | lower }}
                        </a>
                    </li>
                    {{ end }}-->
            </ul>
        </nav>
    </div>
</header>
