<header>
    <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row flex-grow">
            <p class="title font-bold">
                <a href='{{ relLangURL "" }}'>
                    {{ .Site.Title }}
                </a>
            </p>
        </div>
        <nav>
            <ul class="menu">
                <li><a href="https://geheimesite.nl">..</a></li>
                <li><a href="/">/nl</a></li>
                <li><a href="/en">/en</a></li>
                <!--{{ range .AlternativeOutputFormats -}}
                    <li>
                        <a href="{{ .Permalink }}">
                            /{{.Name | lower }}
                        </a>
                    </li>
                    {{ end }}-->
            </ul>
        </nav>
    </div>
</header>
