{{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }}
<ul class="section pagination flex flex-row justify-between p-0">
    <li class="flex">
        {{ if $pag.HasPrev }}
        <a
            href="{{ $pag.Prev.URL }}"
            class="leading-[revert]"
            aria-label="Previous">
            ← newer
        </a>
        {{ end }}
    </li>
    <li class="flex">
        {{ if $pag.HasNext }}
        <a
            href="{{ $pag.Next.URL }}"
            class="leading-[revert]"
            aria-label="Next">
            older →
        </a>
        {{ end }}
    </li>
</ul>
{{ end }}
