<article class="h-entry preview">
    {{ partial "author" . }}

    <h2 class="p-name h1">
        <a href="{{ .Permalink }}">
            {{ .Title }}
        </a>
    </h2>
    {{ if .Date }}
        <time 
            class="dt-published" 
            datetime='{{ .Date.Format "2006-01-02T15:04:05" }}' 
            hidden
        >
            {{ .Date }}
        </time>
    {{ end }}

    <p class="p-summary e-content">
        {{ .Summary }}

        {{ if .Truncated }}...
            <span class="read-more">
                <a href="{{ .Permalink }}">[ {{ i18n "read_more" }} ]</a>
            </span>
        {{ end }}
    </p>

    <p class="properties">
        {{ if .Date }}
            <a class="u-url" href="{{ .Permalink }}">
                {{ $diff := div (sub now.Unix .Date.Unix) 86400 }}
                {{ if eq $diff 0 }}{{ i18n "earlier_today" }}
                {{ else }}
                {{ if eq $diff -1 }}{{ i18n "days_from_now" 1 }}
                {{ else }}
                {{ if lt $diff 0 }}{{ i18n "days_from_now" mul -1 $diff }}
                {{ else }}
                {{ if eq $diff 1 }}{{ i18n "days_ago" 1}}
                {{ else }}
                {{ i18n "days_ago" $diff }}
                {{ end }}{{ end }}{{ end }}{{ end }}
            </a>
        {{ end }}

        <span class="categories">
            {{ range (.GetTerms "tags") }}
                <a class="p-category" href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
            {{ end }}
        </span>
    </p>
</article>