{{ $script := resources.Get "assets/js/webmention.js" | resources.Minify | resources.Fingerprint }} 

{{ if .Site.IsServer }}
    <script
        src="{{ $script.Permalink }}"
        integrity="{{ $script.Data.Integrity }}"
        data-page-url="{{ .Permalink }}"
        data-wordcount="100"
        async></script>
{{ else }}
    <script
        src="{{ $script.Permalink }}"
        integrity="{{ $script.Data.Integrity }}"
        data-wordcount="100"
        async></script>
{{ end }}

{{ $commentparade := "https://quill.p3k.io?dontask=1&name=dontask&me=https%3A%2F%2Fcommentpara.de%2F&reply=" }}
{{ $permalink := (urlquery .Permalink) | safeURL }}

<section class="webmentions section" id="webmentions-wrapper">
    <h2>Webmentions</h2>

    <div id="webmentions">
        <p class="supplement">{{ i18n "loading_comments" }} <a href="{{ $commentparade }}{{ $permalink }}" target="_blank">{{ i18n "wannabe_first" }}</a></p>
    </div>    
</section>

