{{ define "main" }}
	{{ if .Content }}
        <div class="tag-title mb-10">
            <h1>{{ .Title }}</h1>
        </div>

		<div class="section">
			{{ .Content }}
		</div>

        <ul class="h-feed">
    {{ else}}
        <div class="tag-title">
            <h1>#{{ .Title }}</h1>
        </div>

        <ul class="h-feed mt-0">
	{{ end }}

        {{ range .Pages }}
            {{ if .Content }}
                {{ partial "preview" . }}
            {{ end }}
        {{ end }}
    </ul>
{{ end }}