{{ define "main" }}
    <article class="h-entry post">
        {{ with .Params.hideTitle }}
            <section class="p-summary e-content">
                {{ $.Content }}
            </section>
        {{ else }}
            <div class="post-title-box">
                <h1 class="post-title p-name">{{ $.Title }}</h1>
                {{ if .Date }}
                    <time 
                        class="dt-published" 
                        datetime='{{ .Date.Format "2006-01-02T15:04:05" }}' 
                        hidden
                    >
                        {{ .Date }}
                    </time>

                    <p class="post-date">
                        {{ dateFormat "02 January 2006" .Date }}
                    </p>
                {{ end }}
            </div>
            
            <section class="p-summary e-content">
                {{ $.Content }}

                {{ partial "bridgy" . }}
            </section>
            
            <footer class="post-footer">
                <section class="post-data">
                    {{ if .Date }}
                        
                        {{ $date := dateFormat "2 January 2006" .Date }}
                        {{ $lastmod := dateFormat "2 January 2006" .Lastmod }}
                        <p>
                            {{ i18n "posted_on" }} {{ $date }}
                        </p>
                        {{ if and (ne $lastmod $date) (gt .Lastmod .Date) }}
                            <p class="post-update-date">
                                {{ i18n "last_updated" }} {{ $lastmod }}
                            </p>
                        {{ end }}
                    {{ end }}                
                </section>
    
                <section class="post-data post-data-extra">
                    {{ partial "latest_commit" . }}
    
                    <p class="post-wordcount">
                        {{ .Content | countwords }} {{ i18n "words" }}
                    </p>
                    
                    {{ partial "views" . }}
                </section>
            </footer>
        {{ end }}
    </article>

    <aside>
        <section>
            {{ partial "reply-button" . }}
            {{ partial "webmentions" . }}
        </section>
    </aside>
{{ end }}