{{ define "main" }}
    <div class="tag-title">
        <h1>#{{ .Title }}</h1>
    </div>

	{{ if .Content }}
		<section class="section">
			{{ .Content }}
		</section>

        <ul class="h-feed">
    {{ else}}
        <ul class="h-feed mt-0">
	{{ end }}

        {{ $pages := .Pages }}
        {{ $paginator := .Paginate $pages }}

        {{ range $paginator.Pages }}
            {{ if .Content }}
                {{ partial "preview-small" . }}
            {{ end }}
        {{ end }}
    </ul>

    {{ partial "pagination" . }}
{{ end }}